In [174]:
import tweepy
import pandas as pd
import configparser
import re
from textblob import TextBlob
from wordcloud import WordCloud

In [175]:
config = configparser.ConfigParser()
config.read("config.ini")

['config.ini']

In [176]:
api_key = config["twitter"]["api_key"]
api_key_secret = config["twitter"]["api_key_secret"]
access_token = config["twitter"]["access_token"]
access_token_secret = config["twitter"]["access_token_secret"]

In [177]:
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [178]:
#posts = tweepy.Cursor(api.user_timeline, screen_name="ArvindKejriwal", count = 200, tweet_mode="extended").items((300))

In [179]:
posts = tweepy.Cursor(api.search_tweets, q="#Python", count = 200, lang ="en", tweet_mode="extended").items((100))

In [180]:
df = pd.DataFrame([tweet.full_text for tweet in posts], columns=['Tweets'])

In [181]:
def cleanTxt(text):
 text = re.sub('@[A-Za-z0–9]+', '', text) #Removing @mentions
 text = re.sub('#', '', text) # Removing '#' hash tag
 text = re.sub('RT[\s]+', '', text) # Removing RT
 text = re.sub('https?:\/\/\S+', '', text)
 text = re.sub("\n","",text) # Removing hyperlink
 
 return text


# Clean the tweets
df['Tweets'] = df['Tweets'].apply(cleanTxt)

In [182]:
df

                                               Tweets
0   3: Visualizing the Biggest Gaming Company Acqu...
1   _ali_jk: Create fantastic thumbnails for youtu...
2   _NS: Subscribe Today - DevOps EngineeringDevOp...
3   :  UV Light Simulator:UV Light Simulator produ...
4   : HEY DEVS, TAKE THIS SURVEY AND WIN $1000Prog...
..                                                ...
95  : NEED a JOB?Sign up now NO MIDDLEMAN. FREE OF...
96  _NS: Subscribe Today - DevOps EngineeringDevOp...
97  _NS: Subscribe Today - DevOps EngineeringDevOp...
98  _NS: Subscribe Today - DevOps EngineeringDevOp...
99  _NS: Subscribe Today - DevOps EngineeringDevOp...

[100 rows x 1 columns]

In [183]:
def getSubjectivity(text):
   return TextBlob(text).sentiment.subjectivity

# Create a function to get the polarity
def getPolarity(text):
   return  TextBlob(text).sentiment.polarity


# Create two new columns 'Subjectivity' & 'Polarity'
df['Subjectivity'] = df['Tweets'].apply(getSubjectivity)
df['Polarity'] = df['Tweets'].apply(getPolarity)

# Show the new dataframe with columns 'Subjectivity' & 'Polarity'
df

                                               Tweets  Subjectivity  Polarity
0   3: Visualizing the Biggest Gaming Company Acqu...          0.00       0.0
1   _ali_jk: Create fantastic thumbnails for youtu...          0.90       0.4
2   _NS: Subscribe Today - DevOps EngineeringDevOp...          0.00       0.0
3   :  UV Light Simulator:UV Light Simulator produ...          0.54       0.3
4   : HEY DEVS, TAKE THIS SURVEY AND WIN $1000Prog...          0.40       0.8
..                                                ...           ...       ...
95  : NEED a JOB?Sign up now NO MIDDLEMAN. FREE OF...          0.80       0.4
96  _NS: Subscribe Today - DevOps EngineeringDevOp...          0.00       0.0
97  _NS: Subscribe Today - DevOps EngineeringDevOp...          0.00       0.0
98  _NS: Subscribe Today - DevOps EngineeringDevOp...          0.00       0.0
99  _NS: Subscribe Today - DevOps EngineeringDevOp...          0.00       0.0

[100 rows x 3 columns]